name: Build and Deploy PowerShell Module

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.x'

    - name: Install PSScriptAnalyzer
      run: Install-Module -Name PSScriptAnalyzer -Force -Scope CurrentUser
      shell: pwsh

    - name: Run PSScriptAnalyzer
      run: Invoke-ScriptAnalyzer -Path ./src -Recurse -Severity Error -EnableExit
      shell: pwsh

    - name: Run Pester Tests
      run: Invoke-Pester -Path ./Tests -OutputFormat NUnitXml -OutputFile ./TestResults.xml
      shell: pwsh

  deploy:
    name: Deploy to PowerShell Gallery
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.x'

    - name: Install PowerShellGet
      run: Install-Module -Name PowerShellGet -Force -Scope CurrentUser
      shell: pwsh

    - name: Publish to PowerShell Gallery
      run: Publish-Module -Path ./src -NuGetApiKey ${{ secrets.PS_GALLERY_KEY }}
      shell: pwsh
